<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group.friendfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="djNWAPWGbrjWyL810xQD3Sa9EdLbr5pM" />

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity android:name=".View.my.EditProfile" />
        <activity android:name=".Base.BaseLogin"></activity>
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.home.func.exampleActivity"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>
        <activity
            android:name=".View.home.func.FavorUnitsPie"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>
        <activity
            android:name=".View.home.func.ChooseDate"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>
        <activity
            android:name=".View.home.func.LocationBarChart"
            android:parentActivityName=".View.home.func.ChooseDate">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.home.func.ChooseDate" />
        </activity>
        <activity
            android:name=".View.search.SearchResult"
            android:parentActivityName=".View.search.SearchResult">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.search.SearchResult" />
        </activity>
        <activity
            android:name=".Base.BaseStart"
            android:parentActivityName=".Base.BaseStart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Base.BaseStart" />
        </activity>
        <activity android:name=".Base.BaseSub"></activity>
        <activity
            android:name=".View.search.ShowMap"
            android:parentActivityName=".View.search.ShowMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.search.ShowMap" />
        </activity>
    </application>

</manifest>